<<<<<<< HEAD
footer {
    margin: 4vw 0;
}

footer .legal {
    text-align: center;
    font-family: 'Lato';
    font-size: 16px;
=======
.footer {
    margin: 9vw 0;
}

.footer .legal {
    text-align: center;
    font-family: 'Lato';
    font-size: 1em;
>>>>>>> dcc621eadf91f82211f78981f97eb5ee48404f4a
}

.footer1 {
    display: grid;
<<<<<<< HEAD
    height: 34vw;
    margin: 5vw 0;
=======
    height: 36vw;
    margin: 6vw 0;
>>>>>>> dcc621eadf91f82211f78981f97eb5ee48404f4a
    grid-template-rows: repeat(2, auto);
}
.footer1 > div {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
}
.footer1 > div > div {
<<<<<<< HEAD
    width: 25vw;
    height: 15vw;
    margin: 1vw 1.5vw;
=======
    width: 30vw;
    height: 14vw;
    margin: 2vw 3.5vw;
>>>>>>> dcc621eadf91f82211f78981f97eb5ee48404f4a
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer1 img{
    width: 100%;
}

.footer1 img.smallimg {
    width: auto;
    height: 100%;
}


@media (min-width: 678px) {
<<<<<<< HEAD
=======
    .footer {
        margin: 4vw 0;
    }
>>>>>>> dcc621eadf91f82211f78981f97eb5ee48404f4a
    .footer1 {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
                justify-content: center;
        -webkit-box-align: center;
                align-items: center;
        height: 10vw;
        margin: 4vw 0;
    }
    .footer1 > div > div {
        width: 13vw;
        height: 8vw;
        margin: 0vw 0.8vw;
    }
}