<<<<<<< HEAD
=======
.exit {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: default;
}

>>>>>>> dcc621eadf91f82211f78981f97eb5ee48404f4a
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
<<<<<<< HEAD
    padding: 7px;
=======
    padding: 1.5vw;
>>>>>>> dcc621eadf91f82211f78981f97eb5ee48404f4a
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
    -webkit-transform: translateY(-10vw);
    transform: translateY(-10vw);
}

<<<<<<< HEAD
.modal .content-modal label {
    line-height: 1.5em;
}

.modal .content-modal > h2 {
    border-bottom: 4px solid #EFE8E2;
    width: fit-content;
    padding-bottom: 3px;
    font-size: 1.3em;
}

=======
>>>>>>> dcc621eadf91f82211f78981f97eb5ee48404f4a
.modal:target {
    opacity: 1 !important;
    pointer-events: auto;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(0vw);
    transform: translateY(0vw);
}

.content-modal {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: space-evenly;
<<<<<<< HEAD
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    background: rgba(255, 255, 255, 0.95);
    padding: 5px;
    border-radius: 10px;
    width: 95%;
    height: 70vh;
    overflow: auto;
}

.close-modal {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../ressources/img/close.svg) no-repeat;
    background-size: cover;
    position: absolute;
    right: 20px;
    top: 20px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.close-modal:hover {
    -webkit-filter: grayscale(40%);
    filter: grayscale(40%);
    -webkit-transform: scale(0.90);
    transform: scale(0.90);
=======
    justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.95);
    padding: 3vw;
    border-radius: 10px;
    width: 95%;
    height: 105vw;
    max-width: 650px;
    max-height: 550px;
}

.close-modal {
    position: absolute;
    right: 2em;
    top: 1em;
    display: inline-block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
  }
.close-modal:before {
    content: "";
    background: url(../ressources/img/close.svg) no-repeat center center;
    width: 1.2em;
    height: 1.2em;
    position: absolute;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
.close-modal:hover:before, .close-modal:focus:before, .close-modal:active:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}




.modal .content-modal label {
    line-height: 1.5em;
}

.modal .content-modal>h2 {
    border-bottom: 0.2em solid #EFE8E2;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: 0.2em;
    font-size: 1.3em;
    margin: 0 auto;
>>>>>>> dcc621eadf91f82211f78981f97eb5ee48404f4a
}



<<<<<<< HEAD
=======

>>>>>>> dcc621eadf91f82211f78981f97eb5ee48404f4a
/* CONTACT */


form {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
<<<<<<< HEAD
            flex-direction: column;
    padding: 0 10px;
=======
    flex-direction: column;
>>>>>>> dcc621eadf91f82211f78981f97eb5ee48404f4a
    width: 100%;
    max-width: 500px;
    align-self: center;
}

<<<<<<< HEAD
form > div {
 margin: 0.5em 0;
}

.form-item {
    padding: 0 5px;
    width: 100%;
    height: 30px;
=======
form>div {
    margin: 0.5em 0;
}

.form-item {
    padding: 0 0.6em;
    width: 100%;
    height: 2.5em;
>>>>>>> dcc621eadf91f82211f78981f97eb5ee48404f4a
    box-sizing: border-box;
    font-size: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: var(--colorBg1);
    -webkit-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}

.form-item:focus {
<<<<<<< HEAD
    box-shadow: 0 0 2px 2px var(--colorBtn1);
}

textarea.form-item{
    min-height: 100px;
    max-height: 500px;
    resize: vertical;
}

.form-submit {
    margin-left: 10px;
    height: 30px;
    color: white;
    background-color: var(--colorBtn1);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.20);
    border-radius: 4px;
    font-weight: 400;
    font-size: 1.2em;
    font-family: var(--fontTitle);
    opacity: 0.95;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.form-submit:hover {
    opacity: 0.75;
    cursor: pointer;
}


@media only screen and (min-width: 300px) {
    .content-modal {
        padding: 20px;
        width: 85%;
    }
}

@media only screen and (min-width: 550px) {
    .content-modal {
        padding: 30px;
        width: 80%;
        height: 60vh;
    }
}
=======
    box-shadow: 0 0 2px 2px #F2F2F2;
}

textarea.form-item {
    min-height: 100px;
    max-height: 500px;
    resize: vertical;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.form-submit {
    border-radius: 4px;
    -webkit-transition: background-color 0.6s, box-shadow 0.4s;
    transition: background-color 0.6s, box-shadow 0.4s;
}

.form-submit:hover {
    cursor: pointer;
    background-color: #EFE8E2;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.20);
}





@media only screen and (min-width: 500px) {
    .modal {
        font-size: 16px;
    }
    .content-modal {
        /* padding: 30px;
        width: 80%;
        height: 6vw; */
    }
}
@media only screen and (min-width: 678px) {
    .content-modal {
        /* padding: 30px;
        width: 80%;
        height: 6vw; */
    }
}
>>>>>>> dcc621eadf91f82211f78981f97eb5ee48404f4a
